{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto my-4">
            <h1 class="text-center mb-3" id="heading_one">View your cart's content</h1>

        </div>
    </div>

    <!-- Display items from cart -->
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-3 card mx-2">
            <img class="merch card-img-top mx-auto" src="{{item.merchandise.image.url}}"
                alt="Picture of {{item.merchandise.name}} ">
            <div class="card-body">

                <h3 class="card-title">{{item.merchandise.name }}</h3>
                <p class="card-text merch-description">{{item.merchandise.description}}</p>
                <p>Price of one item: <i class="fas fa-coins mr-1"></i>{{item.merchandise.price}} RON</p>
                <div>
                    <form class="form-inline" method="POST" action="{% url 'modify_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Qty</span>
                                </div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{item.quantity}}</span>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-edit mr-1"></i>Update</button>
                    </form>
                </div>

            </div>
        </div>
        <!-- end of div for displaying items-->
        {% endfor %}
    </div>
    <!--end of row-->

    <div class="row">
        <!-- If the total is not 0, the user will be able to access checkout-->
        <div class="col-6 mx-auto">
            {% if total == 0 %}
            <div class="alert alert-info mx-auto" role="alert">
                <i class="fas fa-cart-arrow-down" style="font-size:20px"></i> Your cart is empty.<br />
                Please add an item to be able to buy it and to checkout.
            </div>
            <p><span class="mr-2 text-bold">Total</span><i class="fas fa-coins pr-2"></i>{{total}}</i></p>
            <a href="{% url 'checkout' %}" class="btn btn-secondary disabled" role="button"><i
                    class="fas fa-check"></i>Checkout</a>
            <a href="{% url 'products-home' %}" class="btn btn-primary"><i class="fas fa-shopping-basket mr-1"></i>Visit
                merchandise shop</a>
            {% else %}
            <p><span class="mr-2 text-bold">Total</span><i class="fas fa-coins pr-2"></i>{{total}}</i></p>
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i
                    class="fas fa-check mr-1"></i>Checkout</a>
            {% endif %}
        </div>
    </div>
    <!--end of row-->
</div>




{% endblock content %}