{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="home_background">
            <div class="row p-0 m-0">
                <div class="col-12">
                    <h1 class="text-center text-uppercase my-5" id="headingHome"><small>Welcome to the</small>
                        <br />Romanian Alpine Club
                    </h1>
                </div>
                <!--end of col-12-->
            </div>
            <!--end of row-->
            <div class="row p-0 m-0 my-4">
                <!--Info about Romanian Alpine Club-->
                <div class="col-12 col-lg-6 mx-auto">
                    <p class="my-1 px-2 infoText text-justify">The Romanian Alpine Club encourages, develops and
                        supports
                        the practice of
                        any
                        recreational form of
                        mountain activities, recognizing and supporting the fact that mountain areas are part of the
                        public
                        patrimony and must be accessible to all lovers of the mountains</p>
                </div>

                <div class="col-12 mx-auto my-1">
                    <!--Call to action-->
                    <p class="mt-2 px-2 text-center">
                        <a class="btn btn-success" href="{% url 'register' %}">
                            <i class="fas fa-globe mr-1"></i>Join the
                            community</a>
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row p-0 m-0 mt-4">
                <div class="col-12 mx-auto my-1 mt-4">
                    <h2 class="h2 text-center text-uppercase" style="color:white">MEMBER BENEFITS </h2>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mx-auto my-2 py-2">
                    <ul id="list-group">
                        <li class="list-group-children ml-2">
                            <p class="text-center infoText"><i class=" fas fa-home mr-1"></i>Housing
                            </p>
                        </li>
                        <li class="list-group-children mx-2">
                            <p class="text-center infoText"><i class=" fas fa-chalkboard-teacher mr-1"></i>Courses
                            </p>
                        </li>
                        <li class="list-group-children mr-md-1">
                            <p class="text-center infoText"><i class="fas fa-tshirt mr-1"></i>Discounts equipment
                            </p>
                        </li>
                        <li class="list-group-children px-md-3">
                            <p class="text-center infoText"><i class=" fas fa-tags mr-1"></i>Discount at climbing gym
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
            <!--end of row-->
        </div>
    </div>
</div>
{% endblock %}