{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Credit bacakground image: Photo by Toomas Tartes on Unsplash -->
        <div id="mission_background">
            <div class="row p-0 m-0">
                <div class="col-12">
                    <h1 class="text-center text-uppercase my-5" id="headingMission">MISSION || VISION || VALUES
                    </h1>
                </div>
                <!--end of col-12-->
            </div>
            <!--end of row-->
            <div class="row p-0 m-0 my-4 d-flex align-items-start flex-column">
                <!--Mission info-->
                <div class="col-12 col-lg-4">
                    <p data-aos="fade-right" class="my-2 p-2 infoMVV text-justify"><span
                            class="text-uppercase text-bold">The mission</span> of the
                        Romanian Alpine Club
                        is to develop, support,
                        practice and promote
                        any kind of recreational
                        activities in nature,
                        with the conscious
                        minimization of risk
                        factors and with care
                        and respect for the
                        environment, fauna and
                        flora as well as nature
                        conservation.</p>
                </div>
                <!--Vision info-->
                <div class="col-12 col-lg-4">
                    <p data-aos="fade-left" class="my-2 p-2 infoMVV text-justify"><span
                            class="text-uppercase text-bold">The vision</span> of the
                        Romanian Alpine Club
                        is to develop a strong
                        community that will
                        become a respected
                        voice in Romania
                        regarding responsible
                        practice and the
                        promotion of all noninvasive
                        mountain
                        activities and respect for
                        the natural environment.</p>
                </div>
                <!--Values info-->
                <div class="col-12 col-lg-4">
                    <p data-aos="fade-up" class="my-2 p-2 infoMVV text-justify"><span
                            class="text-uppercase text-bold">Our values are:</span><br />We develop ethics in
                        mountain activities.
                        We support the
                        permanent effort for a
                        correct and complete
                        mountain education.
                        We promote
                        performance athletes as
                        well as table sports.
                        We declare friendship
                        and tolerance for
                        attracting fellows to
                        mountain activities.</p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--End of mission-background-->

    </div>
</div>
{% endblock %}