{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--Partners page-->
        <div class="col-12 my-2 mx-auto">
            <h1 class="text-center text-uppercase mt-5" id="heading_one">partners</h1>
        </div>
    </div>
    <!--end of row-->
    <div class="row">
        <div class="col-12">

            <!-- <li><a class="partners" href="https://www.craimont.ro/">CraiMont</a></li> -->
            <div class="row">
                <div class="col-8 mx-auto">
                    <div id="mosaic" class="mosaic">
                        <a class="partners" href="https://www.himalaya.ro/" target="_blank">
                            <img class="img-fluid" src="{% static 'img/partners/himalaya.jpeg' %}">
                        </a>
                        <a class="partners" href="https://www.absolutoutdoor.ro/" target="_blank">
                            <img class="img-fluid" src="{% static 'img/partners/absolut_outdoor.jpeg' %}">
                        </a>
                        <a class="partners" href="https://centraladeescalada.ro/" target="_blank">
                            <img class="img-fluid" src="{% static 'img/partners/centrala_de_escalada.jpeg' %}">
                        </a>
                        <a class="partners" href="https://www.montrek.ro/" target="_blank">
                            <img class="img-fluid rounded-circle" src="{% static 'img/partners/montrek.jpg' %}">
                        </a>
                        <a class="partners" href="https://floareadecolt.com/" target="_blank">
                            <img class="img-fluid" src="{% static 'img/partners/floarea_de_colt_Bucuresti.jpeg' %}">
                        </a>
                        <a class="partners" href="https://www.nootkasport.ro/" target="_blank">
                            <img class="img-fluid rounded-circle" src="{% static 'img/partners/nootka.jpeg' %}">
                        </a>
                        <a class="partners" href="https://www.s-karp.ro/" target="_blank">
                            <img class="img-fluid rounded-circle" src="{% static 'img/partners/s-karp.jpeg' %}">
                        </a>
                        <a class="partners" href="http://www.sportvirus.ro/" target="_blank">
                            <img class="img-fluid rounded-circle" src="{% static 'img/partners/sport_virus.jpeg' %}">
                        </a>
                        <a class="partners" href="https://www.zumont.ro/" target="_blank">
                            <img class="img-fluid" src="{% static 'img/partners/zumont.jpeg' %}">
                        </a>
                        <a class="partners" href="https://www.cunescu.ro/" target="_blank">
                            <img class="img-fluid" src="{% static 'img/partners/cunescu_balaciu_asociatii.jpeg' %}">
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end of row-->
</div>
<!--end of container-fluid-->
{% endblock %}