/**** Font ****/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
/** In case first one crashes **/
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap');
/**** Sticky footer ****/
html, body {
    height: 100%
}
body {
    font-family: 'Montserrat','Averia Serif Libre', cursive;
    display: flex;
    flex-direction: column
}
.content {
    flex: 1 0 auto
}
.footer {
    flex-shrink: 0
}
/**** end of sticky footer ****/

/**** Main style ****/
#home_background{
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/background/Bucegi.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 88.2vh;
}
/*** Header ***/
/*** Navbar ***/
/** Style for name of the site  **/
/** white color for hamburger menu **/
.white{
    color:white;
    font-size:26px
}
#blue, #yellow, #red{
    font-size:22px;
}
#blue{
    color: RGB(0,174,239)    
}
#yellow{
    color: RGB(255,223,23)
}

#red{
    color:red
}
/*** Navbar ***/
/** Navbar background **/
.navbar-black{
    background-color: #414042
}
/** Navbar link **/
.navItems{
    color: white;
    font-size: 22px;
    transition: all 1s
}
.navItems:hover{
    transform: scale(0.8);
    color: grey
}

/*** H1 ***/
#headingHome, #headingMission, #headingLogin, #headingRegister{
    color:white;
}
#heading_one{
    color:#414042
}
#heading_one, #headingHome,#headingMission, #headingLogin,#headingRegister {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2em;
}

/** Info text home page **/
.infoMVV, .infoText{
    transition-delay: 2s;
    transition-timing-function: ease-out;
    font-size:20px;
}
.infoText{
    color:white    
}
/** Member benefits **/
#list-group{
    display:flex;
    flex-direction: row;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
}
.list-group-children{
   padding: 2px;
   margin-bottom: -1px;

}
/*** ABOUT SECTION ***/
/** MISSION VISION VALUES **/
#mission_background{
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/background/mission_section/mission_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 88.2vh;
}
/** Text **/


/** Info text home page **/
.headingMVV,.infoMVV{
    color:#414042    
}

/*** Blog home page ***/
/** Title H2 from blog posts **/
.blogPosts{
    -webkit-box-shadow: 0px 0px 8px 3px rgba(169,169,169,1);
-moz-box-shadow: 0px 0px 8px 3px rgba(169,169,169,1);
box-shadow: 0px 0px 8px 3px rgba(169,169,169,1);
}
.blogTitle{
    font-size: 22px;
}
/** Pagination buttons **/
.btn-paginate{
    color: #fff;
    background-color: #414042;
    border-color: #414042;
}
/*** Login page ***/

#forgotPwd{
    color: white;
    font-weight: 500;
    transition: all .6s;
    display: inline-block
}
#forgotPwd:hover{
    color:#FFDE17;
    transform:translateX(10px)
}
#signUp{
    transition: all .6s;
    text-decoration: none;
    display: inline-block;
    color:white
}
#signUp:hover{
    color:#00AEEF;
    transform:translateX(10px)
}


/*** Products ***/
.merch{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    merch: 0 auto
}
/*** LOGIN ***/
#login_background{
    background-image: url("../img/background/login_section/login_background.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 80.1vh;
}
/*** Register page ***/
#register_background{
    background-image: url("../img/background/register_section/register_background.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 84.1vh;
    
}

/*** Footer ***/
.footer{
    background-color: #414042
}
/** Footer Titles **/
.h3Footer{
    color:white;
    font-size: 20px;
}


/**Social Media **/
.sIcons{
    color:white;
    transition: all .5s;
    font-size: 14px;

}
.sIcons:hover{
    color:grey;
    transition: all .5s
}
/** Headers with links **/
.linkHeader{
    color: white;
    font-size: 16px;
    transition: all .4s
}
.linkHeader:hover{
    color:grey;
    text-decoration: none;
  
}
/** Partners Link **/
#Partners{
    color:white;
    transition: all .5s
}
       
#Partners:hover{
    transform: scale(0.8);
    color: grey;
    text-decoration:none
    
}