/**** Font ****/
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap');

/**** Sticky footer ****/
html, body {
    height: 100%
}
body {
    font-family: 'Averia Serif Libre', cursive;
    display: flex;
    flex-direction: column
}
.content {
    flex: 1 0 auto
}
.footer {
    flex-shrink: 0
}
/**** end of sticky footer ****/

/**** Main style ****/

/*** Header ***/
/*** Navbar ***/
/** Style for name of the site  **/
#blue, #yellow, #red{
    font-size:22px;
}
#blue{
    color: blue    
}
#yellow{
    color: yellow
}

#red{
    color:red
}
/*** Navbar ***/
/** Navbar background **/
.navbar-black{
    background-color: black
}
/** Navbar link **/
.navItems{
    color: white;
    font-size: 22px;
    transition: all 1s
}
.navItems:hover{
    transform: scale(0.8);
    color: grey
}

/*** H1 ***/
#heading_one {
    font-size: 26px;
    color:black;
    font-weight: 400
}
/*** Login page ***/
#forgotPwd{
    color: silver;
    font-weight: 500;
    transition: all .6s;
    display: inline-block
}
#forgotPwd:hover{
    color:black;
    transform:translateX(10px)
}
/*** Footer ***/
footer{
    background-color: black
}
/** Footer Titles **/
.h2Footer{
    color:white;
    font-size: 20px;
}
/**Social Media **/
.sIcons{
    color:white;
    transition: all .5s
}
.sIcons:hover{
    transform: scale(0.8);
    color: grey
}
/** Partners **/
.partners{
    color: white;
    font-size: 16px;
    transition: all .4s
}
.partners:hover{
    color:grey;
    text-decoration: none;
  
}