/**** Font ****/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
/** In case first one crashes **/
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap');
/**** Sticky footer ****/
html, body {
    height: 100%
}
body {
    font-family: 'Averia Serif Libre', cursive;
    display: flex;
    flex-direction: column
}
.content {
    flex: 1 0 auto
}
.footer {
    flex-shrink: 0
}
/**** end of sticky footer ****/

/**** Main style ****/
#home_background{
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/background/Bucegi.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 88.2vh;
}
/*** Header ***/
/*** Navbar ***/
/** Style for name of the site  **/
/** white color for hamburger menu **/
.white{
    color:white;
    font-size:26px
}
#blue, #yellow, #red{
    font-size:22px;
}
#blue{
    color: RGB(0,174,239)    
}
#yellow{
    color: RGB(255,223,23)
}

#red{
    color:red
}
/*** Navbar ***/
/** Navbar background **/
.navbar-black{
    background-color: #414042
}
/** Navbar link **/
.navItems{
    color: white;
    font-size: 22px;
    transition: all 0.5s
}
.navItems:hover{
    transform: translateY(4px);
    color: grey
}

/*** H1 ***/
#headingHome, #headingMission, #headingLogin, #headingRegister{
    color:white;
}
#heading_one, #headingProfile,.postDetail, #headingMerch{
    color: RGB(0,174,239)
}
#heading_one, #headingHome,#headingMission, #headingLogin,#headingRegister  {
    font-size:50px;
    font-weight: 400;
    line-height: 1.2em;
    font-family: 'Montserrat', cursive;
}

/** Info text home page **/
.infoMVV, .infoText{
    transition-delay: 2s;
    transition-timing-function: ease-out;
    font-size:20px;
}
.infoText{
    color:white    
}
/** Member benefits **/
#list-group{
    display:flex;
    flex-direction: row;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
}
.list-group-children{
   padding: 2px;
   margin-bottom: -1px;

}
/*** ABOUT SECTION ***/
/** MISSION VISION VALUES **/
#mission_background{
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/background/mission_section/mission_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 88.2vh;
}
/** Text **/


/** Info text home page **/
.headingMVV,.infoMVV{
    color:#414042    
}

/*** Blog home page ***/
/** Title H2 from blog posts **/
.blogPosts{
    -webkit-box-shadow: 0px 0px 8px 3px rgba(169,169,169,1);
-moz-box-shadow: 0px 0px 8px 3px rgba(169,169,169,1);
box-shadow: 0px 0px 8px 3px rgba(169,169,169,1);
}
.blogTitle{
    font-size: 22px;
}
/** Post **/
.postDetail{
    font-size:35px;
    font-weight: 400;
    line-height: 1.2em;
}
/** Read more button **/
.btn-readmore{
    color: black;
    transition: all .6s;
    padding: 10px;
    background-color: RGB(255,223,23)
}
.btn-readmore:hover{
    color: black;
    text-decoration: none;    
}
.btn-readmore:hover i{
    color: red;
    transform:translateX(4px)
}

/** Pagination buttons **/
.btn-paginate{
    color: #fff;
    background-color: #414042;
    border-color: #414042;
}
/*** Login page ***/
#login_background{
    background-image: url("../img/background/register_section/register_background.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 85.2vh;
}
#forgotPwd{
    color: white;
    font-weight: 500;
    transition: all .6s;
    display: inline-block
}
#forgotPwd:hover{
    color:#FFDE17;
    transform:translateX(10px)
}
#signUp{
    transition: all .6s;
    text-decoration: none;
    display: inline-block;
    color:white
}
#signUp:hover{
    color:#00AEEF;
    transform:translateX(10px)
}
/*** Courses ***/

.coursesInfo{
    color: RGB(0,174,239);
    font-family: 'Montserrat', cursive;
    text-transform: uppercase;
}
/* Color for icons in course-details section */
.coursesReq{
    color: RGB(0,174,239);
}
/*** Products ***/
.merch{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto
}
#headingMerch{
    font-size:57px;
    font-weight: 400;
    line-height: 1.2em;
}

/*** Register page ***/
#register_background{
    background-image: url("../img/background/register_section/register_background.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: auto;
    min-height: 85.2vh;
    
}
/** Profile **/
#headingProfile{
    font-size:35px;
    font-weight: 400;
    line-height: 1.2em;
}
.h2Profile{
    color:red;
    font-family: 'Montserrat', cursive;
}

.profileText{
    color:RGB(0,174,239);
    font-family: 'Montserrat', cursive;
    letter-spacing: 1px;
}
.profileTextInfo{
    color: #414042;
    font-family: 'Averia Serif Libre', cursive;
    letter-spacing: 1px;
}
#membershipCard{
    -webkit-box-shadow: 10px 1px 12px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 1px 12px 2px rgba(0,0,0,0.75);
    box-shadow: 10px 1px 12px 2px rgba(0,0,0,0.75);
}

/*** Footer ***/
.footer{
    background-color: #414042
}
/** Footer Titles **/
.h3Footer{
    color:white;
    font-size: 20px;
}


/**Social Media **/
.sIcons{
    color:white;
    transition: all .5s;
    font-size: 14px;

}
.sIcons:hover{
    color:grey;
    transition: all .5s
}
/** Headers with links **/
.linkHeader{
    color: white;
    font-size: 16px;
    transition: all .4s
}
.linkHeader:hover{
    color:grey;
    text-decoration: none;
  
}
/** Partners Link **/
#Partners{
    color:white;
    transition: all .5s
}
       
#Partners:hover{
    transform: scale(0.8);
    color: grey;
    text-decoration:none
    
}