{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto my-4">

            <h1 class="text-center mb-3" id="heading_one">New post</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Add the post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}