{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto my-4">
            <div class="blogPosts media my-4">
                <img class="ml-2 py-md-2 align-self-top rounded-circle"
                    src="{{ object.authorPost.profile.profileImage.url }}"
                    alt="Profile image of the author of the post">

                <div class="media-body py-md-2">
                    <h1 class="my-1" class="postDetail">{{ object.title }}</h1>
                    <span class="text-left"><small>{{ object.dateAdded }}</small> ||</span>
                    <span class=" text-left">
                        <a href="{% url 'blog-user-posts' object.authorPost.username %}">
                            {{object.authorPost }}</a> ||</span>
                    <span class="text-left p-2"> {{object.category }}</span>
                    <p class="my-2 p-4 text-left">
                        {{ object.content}}
                    </p>
                </div>
            </div>

            <a class="btn btn-primary" href="{% url 'blog-home' %}">Back to blog</a>
            {% if object.authorPost == user %}
            <a class="btn btn-warning" href="{% url 'blog-update-post' object.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'blog-delete-post' object.id %}">Delete</a>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}