{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-4 align-middle mx-auto my-4">
            <h1 class="text-center  mb-3" id="heading_one">Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="my-2">
                    <small class="text-muted">
                        <a class="text-decoration-none" id="forgotPwd" href="{% url 'password_reset' %}">Forgot
                            password?</a>
                    </small>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Do you need an account?</small>
                <a href="{% url 'register' %}" class="ml-2" id="signUp">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}