{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-3 text-uppercase" id="heading_one">Order number: {{order_id}}</h1>
        </div>

        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Order number</th>
                        <th class="text-center" scope="col">Item</th>
                        <th class="text-center" scope="col">Price</th>
                        <th class="text-center" scope="col">Number of items</th>

                    </tr>
                </thead>
                <tbody>

                    {% for order in orderDetails %}
                    <tr>
                        <td class="text-center">{{order.id}}</td>
                        <th class="text-center" scope="row">{{order.product}}</th>
                        <th class="text-center" scope="row">{{order.product.price}}</th>
                        <td class="text-center"> {{ order.quantity}}</td>

                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="fas fa-coins mr-1"></i> GRAND TOTAL {{totalPrice}} RON</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'profile' %}"><i class="fas fa-chevron-left mr-1"></i>Back to
                profile</a>
        </div>
    </div>
</div>

{% endblock content %}