{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 my-4">

            <h1 class="text-center mb-3 text-uppercase" id="headingProfile"><img class="img-fluid rounded-circle"
                    src="{{user.profile.profileImage.url }}">{{ user.username }}'s Profile</h1>
        </div>
        <div class="col-12 my-4">
            <h2 id="h2ProfileInfo">PERSONAL INFO</h2>
            <p class="profileText text-left text-uppercase">Name: <span
                    class="text-capitalize profileTextInfo">{{ user.first_name }} {{ user.last_name }}</span>
            </p>
            <p class="profileText text-left text-uppercase">Email: <span
                    class="text-capitalize profileTextInfo">{{user.email }}</span>
            </p>
            <p class="profileText text-left text-uppercase">Address: <span
                    class="text-capitalize profileTextInfo">{{ user.profile.homeAddress }}</span></p>
            <p class="profileText text-left text-uppercase">Member since: <span
                    class="text-capitalize profileTextInfo">{{ user.date_joined | date:"d-m-Y"}}</span></p>
            <p class="profileText text-left text-uppercase">Membership card:

                <!-- Button trigger modal -->
                <a type="button" href="{{user.profile.membershipCard.url}}" data-toggle="modal" data-target="#card">
                    <img id="membershipCard" class="border rounded img-fluid" src="{{user.profile.membershipCard.url}}"
                        alt="Membership Card"></a>
            </p>
            <!-- Modal window -->
            <div class="modal fade" id="card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{user.username }} Membership Card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-auto">
                            <img id="membershipCard" class="border rounded img-fluid"
                                src="{{user.profile.membershipCard.url}}" alt="Membership Card">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <h2 id="h2UpdateInfo">UPDATE INFO</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-6 p-0 m-0" style="color:RGB(0,174,239)">
                    {{ updateForm | as_bootstrap_horizontal }}
                    {{ profileUpdateForm | as_bootstrap_horizontal }}
                </div>
                <button type="submit" class="btn btn-primary"> Update</button>

            </form>
        </div>
        <div class="col-12 my-2">
            <h2 id="h2UpdateInfo">HISTORY OF ORDERS</h2>
            {% if orders %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Buyer's Name</th>
                        <th class="text-center" scope="col">Order number</th>
                        <th class="text-center" scope="col">Date</th>
                        <th class="text-center" scope="col">Access purchase</th>
                    </tr>
                </thead>
                <tbody>

                    {% for order in orders %}
                    <tr>
                        <th class="text-center" scope="row">{{order.full_name}}</th>
                        <td class="text-center">{{order.id}}</td>
                        <td class="text-center"> {{order.date}}</td>
                        <td class="text-center"><a href="{% url 'order_details' order.id %}"
                                class="btn btn-primary">View
                                order</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            {% else %}
            <p>There is no history of orders.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}