{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto my-4">

            <h1 class="text-center mb-3 text-uppercase" id="headingProfile"><img class="rounded-circle"
                    src="{{user.profile.profileImage.url }}">{{ user.username }}'s Profile</h1>
        </div>
        <div class="col-12 mx-auto my-4">
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Email: {{user.email }}</p>
            <p>Address: {{ user.profile.homeAddress }}</p>
            <p>Membership card: <img class="" src="{{user.profile.membershipCard.url}}" alt="Membership Card"></p>
        </div>
        <div class="col-12">
            <h2 class="h2" style="color:yellow">UPDATE PROFILE INFORMATION</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ updateForm | as_bootstrap }}
                {{ profileUpdateForm | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Update</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}