{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto my-4">

            <h1 class="text-center mb-3" id="heading_one"><img class="rounded-circle mr-2"
                    src="{{user.profile.profileImage.url }}">{{ user.username }}'s Profile</h1>
        </div>
        <div class="col-12 mx-auto my-4">
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Email: {{user.email }}</p>
            <p>Birth date: {{ user.profile.birthDate }}</p>
            <p>Address: {{ user.profile.homeAddress }}</p>
            <p>Phone: {{ user.profile.phoneNumber }}</p>
        </div>
        <div class="col-12 my-2">
            <h2 class="my-2">Current profile information</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ updateForm | as_bootstrap }}
                {{ profileUpdateForm | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}