{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto my-4">
            <h1 class="text-center mb-3" id="heading_one">COURSES</h1>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <!-- Render the posts from users -->
            {% for course in courses %}
            <div class="blogPosts media my-4">
                <img class="ml-2 py-md-2 align-self-top rounded-circle" src=""
                    alt="Profile image of the author of the post">

                <div class="media-body py-md-2">
                    <h2 class="blogTitle my-1 text-center">{{ course.title }}</h2>
                    <span class="text-center"><small>{{ course.dateAdded }}</small> ||</span>
                    <p>Description: {{ course.description}}</p>
                    <p>Time period: {{ course.periodOfTime}}</p>
                    <p>Location: {{ course.location}}</p>
                    <p>How many participans: {{ course.participants }}</p>
                    <p>Trainer: {{ course.trainer }}</p>
                </div>
                <p class="text-right"><a class="mr-2 btn-readmore" href="{% url 'course-details' course.id %}">READ
                        MORE
                        <i class="btn-readmore ml-1 fas fa-chevron-right"></i></a>
                </p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}