{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="credit-card-errors" style="display:none">
            <div class="bg-success text-white alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <div class="display p-md-2">
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                <p class="my-2"><input class="form-control" type="text" name="q"></p>
                <button placeholder="Search product" class="btn btn-outline-success" type="submit"><i
                        class="fas fa-search mr-1"></i>SEARCH</button>
            </form>
        </div>
        <div class="col-12 mx-auto my-4">
            <h1 class="text-center mb-3" id="headingMerch">MERCHANDISE</h1>
        </div>
        <!--end of col for heading 1-->
    </div>
    <!--end of row-->
    <div class="row">
        <!--Display merch-->
        {% for merch in merchandise %}
        <div class="card col-12 col-md-7 col-lg-4 col-xl-3  px-lg-2 mx-lg-2 my-5">
            <img class="merch card-img-top mx-auto mt-1" alt="Picture of {{merch.name}} " src="{{merch.image.url}}">
            <div class="card-body">
                <h3 class="card-title">{{ merch.title }}</h3>
                <p class="card-text merch-description">{{merch.description}}</p>
                <p>Item price: <i class="fas fa-coins mr-1"></i>{{merch.price}} RON</p>
                <form method="POST" action="{% url 'add_to_cart' merch.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <input name="quantity" required="required" type='number' min="1" max="999"
                                class="form-control" placeholder="Quantity">
                            <div class="input-group-prepend">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end of card body-->
        </div>
        <!--end of col-->
        {% endfor %}
    </div>
    <!--end of row-->
</div>
<!--end of container-->


{% endblock content %}